:root {
    --verde: #B7CBBF;
    --rojo: #F9A799;
    --carne: #F4BFAD;
    --crema: #F5DABD;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 30px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: var(--carne);
    
}

input,
select {
    border: none;
    padding: 20px;
    border-radius: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 20px
}

.holdCards {
    display: flex;
    gap: 40px;
    font-size: 30px;

}

h1 {
    text-align: center;
}

.namePlayer {
    display: flex;
    align-content: center;
}

.btnStart {
    padding: 10px;
}