* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 40px;
    gap: 50px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Permanent Marker', cursive;
    color: #A75D5D;
}

h2 {
    color: #F0997D;
}


#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    gap: 15px;
    height: 400px;
    padding: 20px;
    width: 500px;
    margin: 15px auto;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
    background: radial-gradient(#FFC3A1, #A75D5D);
}



input,
select {
    border: none;
    padding: 10px;
    width: 60%;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
    outline: none;
}

input:hover,
select:hover {
    transform: scale(1.05);
}

input[type='submit'] {
    width: 40%;
    margin-top: 10px;
}


/* --------------------Preguntas--------------------- */



.question{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.question > p {
    font-size:x-large;
    color: #F0997D;
}

.question span {
    color: #A75D5D;
}



.holdCards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 40%;
    background-color: #A75D5D;
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 6px 5px rgb(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    box-shadow: 0px 6px 5px 2px rgb(0, 0, 0, 0.25);
    transform: scale(1.05);
}

#next {
    padding: 20px;
    width: 200px;
    border: none;
    border-radius: 6px;
    align-self: center;
    background-color: #FAC213;
    box-shadow: 0px 6px 5px rgb(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
    font-size: large;
    color: white;
}

#next:hover{
    box-shadow: 0px 6px 5px 2px rgb(0, 0, 0, 0.25);
    transform: scale(1.05);
}


.n2 {
    background-color: #FFC3A1;
}

.n3 {
    background-color: #D3756B;
}

.n4 {
    background-color: #F0997D;
}