*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#container{
display: flex;
padding: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 20px
}

.holdCards{
    display: flex;
    gap: 40px;
    font-size: 30px;
    
}

h1 {
    display: flex;
    justify-content: center;
}

.namePlayer {
    display: flex;
    align-content: center;
}



